<%= form_with model: [@article, @article.comments.build], local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :commenter %><br>

    <%= form.label :comment %><br>
    <%= form.text_area :body, style:"width:75%" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>